@import 'variables';

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    h2 {
        font-size: 1.4rem;
        font-weight: 600;
        color: $primary-color;
    }

    textarea {
        border: none;
    }
}

.date-today {
    display: flex;
    height: 10%;
    background-color: $secondary-color;
    color: $text-color;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.aWeek{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    margin-bottom: 0.6rem;
    
    div {
        width: 14.28%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    :hover {
        background-color: lightgray;
        transition: all 0.4s;
        cursor: pointer;
    }
}


.eventContainer {
    display: flex;
    height: 30%;
    margin-bottom: 0.6rem;
    padding: 0 1rem;
    
    .eventList{
        display: flex;
        flex-direction: column;
        width: 100%;

        textarea {
            height: 100%;
            width: 100%;
        }
    }
}

.todoContainer {
    display: flex;
    justify-content: space-between;
    height: 30%;
    padding: 0 1rem;
    

    .thetodolist {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid lightgray;
        margin-bottom: 0.2rem;
    }
}

.notification {
    display: flex;
    flex-direction: column;
    height: 20%;
    padding: 0 1rem;

    textarea{
        width: 100%;
        height: 100%;
    }
}

.selected{
    background-color: $secondary-color;
    color: #fff;
    &:hover {
        background-color: lighten($secondary-color, 10%);
    }
}

#addBtnTodo {
    color: $primary-color;

    height: 1.6rem;
    font-weight: 550;
    font-size: 1.2rem;
    

    &:hover {
        color: darken($primary-color, 10%);
        cursor: pointer;
    }
}

#dialog-overlay {

	width:100%; 
	height:100%;
	

	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5; 
	background:#000; 

	
	position:absolute; 
	top:0; left:0; 
	z-index:3000; 


	display:none;
}


#dialog-box {
	

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	

	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	
	background:#eee;
	/* styling of the dialog box, i have a fixed dimension for this demo */ 
	width:328px; 

    position:relative;
    margin: auto;
	z-index:5000; 

    display:none;
    a {
        color: $primary-color;
        &:hover {
            font-weight: 550;
            color: lighten($primary-color, 10%);
            cursor: pointer;
        }
    }
}

#dialog-box .dialog-content {

	text-align:left; 
	padding:10px; 
	margin:13px;
	color:#666; 
	font-family:arial;
	font-size:11px; 
}
