@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "sans-serif";
    --main-color: #ffe0c1;
    --main-color-darker: #f27e0c;
    --main-color-background: #8c4907; 
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #dfe6e9;
}

.logo{
    width: 100%;
    position: absolute;
    top: 0px;
}

.logo img{
    height: 60px;
    margin-left: 5px;

}
/* MODAL */

.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
}

.modal-content-events{
display: flex;
flex-direction: column;
}
.modal-content-events h3{
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
}

.modal-content-events p{
    padding: 0.2rem;
}

.modal-content-add{
    display: flex;
    
}
.modal-content-add i{
    padding-right: 0.4rem;
}
.date-modal{
    position: absolute;
    right: 80px;
    font-size: 1.8rem;
    color: var(--main-color-background);
}

.modal-add{
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
}

.modal-add-header{
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-add-header p{
    font-size: 20px;
    padding: 1rem;
    font-weight: bold;    
}
.modal-add-header p:nth-child(1){
    color: rgba(255, 30, 0, 1); 
}
.modal-add-header p:nth-child(3){
    color: rgba(34, 255, 34, 0.7); 
}

.modal-add-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.modal-add-form-1{
    display: flex;
    height: 20%;
    justify-content: space-around;
    flex-direction: column;
}
.modal-add-form-2{
    display: flex;
    height: 20%;
    justify-content: space-around;
    flex-direction: column;
}
.modal-add-form-3{
    display: flex;
    height: 20%;
    justify-content: center;
    flex-direction: column;
}

.close{
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.4s;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* HEADER */

.header{
    display: flex;
    width: 100%;
    max-width: 500px;
    height: 20%;
    margin: 0 auto;
    background-color: var(--main-color-background);
    justify-content: center;
    align-items: center;
}

.header h1{
    font-size: 3rem;
    color: #fff;
}

/* CALENDAR */
.calendar{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: 500px;
    height: 70%;
    background-color: #fff;
}

.month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    text-align: center;
    background-color: #f27e0c;
    color: white;
    padding: 1.5rem 1.5rem;
}

.weekdays{
    display: flex;
    background-color: var(--main-color-background);
    color: #fff;
    padding: 7px 0;
}

.days{
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    padding: 0.3rem 0;
}

.days div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px 0;
    transition: all 0.4s;
}

.weekdays div, 
.days div{
    width: 14.28%;
    text-align: center;
}

.days div:hover{
    background-color: #dfe6e9;
    cursor: pointer;
}

.today{
    background-color: var(--main-color-darker);
    color: #fff;
}

.prev-date{
    color: #999;
}

#month{
    font-size: 2rem;
    font-weight: 500;
}

.prev, 
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: all 0.4s;
}

.prev:hover,
.next:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.eventToday{
    background-color: rgba(139, 125, 125, 0.2);
    border: 1px solid rgb(139, 125, 125);
    border-radius: 50%;
}
/* NAVBAR */

.navbar{
    display: flex;
    width: 100%;
    max-width: 500px;
    height: 10%;
    background-color: var(--main-color-background);
    justify-content: space-around;
}

.navbar a {
    display: flex;
    color: #fff;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.4s;
}

.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.delete-button{
    color: red;
    float: right;
    margin-right: 20px;
    text-decoration: none;
}